---
# Copy to group_vars/all.yml and encrypt with:
# ansible-vault encrypt group_vars/all.yml

dockerhub_username: your-dockerhub-username
dockerhub_password: your-dockerhub-token

app_name: devops-app
docker_image_tag: latest
app_port: 5000
app_container_name: "{{ app_name }}"
